# -------------------------------
# Build & compiled files
# -------------------------------
*.o
*.out
*.exe
main
a.out

# -------------------------------
# macOS specific
# -------------------------------
.DS_Store
.AppleDouble
.LSOverride

# -------------------------------
# Editor / IDE files
# -------------------------------
.vscode/
.idea/
*.swp
*.swo
*~